body, button, input{
    font-family:'NanumMyeongjo', sans-serif;;
}

/* 로그인 전체 박스 */
.signUpStore-container {
    display: flex;
    width: 1100px;
    border-radius: 10px;
    padding:50px;
    margin:0 auto;
}

.signUpStore-title{
    margin: 40px 10px 20px 10px;
    text-align:center;
    font-size:40px;
}


.signUpStore-left-section{
    flex: 1;
    padding: 16px;
    width: 550px;
    background-color: #F3F3F3;
    border-radius: 20px 0 0 20px;
}

/* 회원정보 입력 박스 */
.signUpStoreInputDiv {
    padding:10px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    background:#FFFFFF;
    width: 450px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.signUpStoreInputDiv-other{
    padding:10px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    background:#FFFFFF;
    width: 355px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    float: left;
}

/* 아이디/비밀번호 입력창 */
.signUpStoreInputDiv input{
    border: 0px;
    width:250px;
    font-size:20px;
    outline: none;
}

.signUpStoreInputDiv-other input{
    border: 0px;
    width: 100%;
    font-size:18px;
    outline: none;
}

/* 인증 버튼 */
.searchStoreAuthNum button{
    background-color: #F59A23;
    color:#FFFFFF;
    width: 78px;
    height: 76px;
    border: 0px;
    border-radius: 10px;
    margin-left: 15px;
    font-size:15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* 로그인 버튼 */
.signUpStore-button{
    text-align: center;
}

.signUpStore-button button {
    color:#FFFFFF;
    font-size:25px;
    width:402px;
    height:60px;
    border-radius:50px;
    background-color:#007355;
    border:0px;
    margin:10px 0 10px 0;
}

/* 사용자 회원가입 오른쪽 박스 - 이미지 */
.signUpStore-right-section {
    flex: 1;
    background: url(/public/img/SignUpUserImage.png);
    border-radius: 0 20px 20px 0;
    width: 550px;
    position:relative;
}

.signUpStoreInputDiv span{
    color: #F59A23;
}

.signUpStoreInputDiv-other span{
    color: #F59A23;
}

/* 오른쪽 카페 미리보기 */
.signUpStore{
    width: 400px;
    min-height: 500px;
    background-color: #f3f3f3cc;
    border-radius: 20px;
    margin: 30px auto;
    text-align: center;
    position: sticky;
    top:50px;
}

.signUpStore-storeName{
    padding-top: 30px;
    font-size:30px;
}

.signUpStore-picture{
    border: 2px solid #F59A23;
    width: 300px;
    height: 300px;
    margin: 20px auto;
    border-radius: 20px;
}

.signUpStore-location{
    margin-top: 20px;
    font-size:20px;
}

.signUpStore-time{
    margin-top: 10px;
    font-size:20px;
}

.signUpStore-auth{
    float:right;
}


/* 태그 버튼 스타일*/
.SignUpStore-tag1{
    border: 2px solid #F59A23;
    border-radius: 10px;
    width: 144px;
    height: 45px;
    font-size: 18px;
    margin: 10px 10px 10px 0;
    background-color: white;
}

.SignUpStore-tag1:hover {
    border-radius: 10px;
    border: 2px solid #F59A23;
    background: #F59A23;
    color: #FFF;
}

.SignUpStore-tag {
    margin-left: 20px;
    display: flex;
    flex-wrap: wrap;
}

.tags {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #F59A23;
    border-radius: 10px;
    width: 130px;
    height: 45px;
    font-size: 18px;
    margin: 5px 20px 5px 0;
    background-color: white;
}

.selectTags,
.tags:hover {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 45px;
    font-size: 18px;
    border-radius: 10px;
    border: 2px solid #F59A23;
    margin: 5px 20px 5px 0;
    background: #F59A23;
    color: #FFF;
}
