body, button, input{
    font-family:'NanumMyeongjo', sans-serif;;
}

/* 로그인 전체 박스 */
.signUpUser-container {
    display: flex;
    width: 1100px;
    border-radius: 20px;
    padding:50px;
    margin:0 auto;
}

.signUpUer-title{
    margin: 40px 10px 20px 10px;
    text-align:center;
    font-size:40px;
}

/* 사용자 회원가입 오른쪽 박스 - 이미지 */
.signUpUser-right-section {
    flex: 1;
    background: url(/public/img/SignUpUserImage.png);
    border-radius: 0 20px 20px 0;
    background-size: cover;
}

.signUpUser-left-section{
    flex: 1;
    padding: 16px;
    background-color: #F3F3F3;
    border-radius: 20px 0 0 20px;
}

/* 회원정보 입력 박스 */
.signUpUserInputDiv {
    padding:10px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    background:#FFFFFF;
    width: 450px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.signUpUserInputDiv-phone{
    padding:10px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    background:#FFFFFF;
    width: 355px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    float: left;
}

/* 아이디/비밀번호 입력창 */
.signUpUserInputDiv input{
    outline-style: none;
    border : none;
    width:300px;
    font-size:20px;
}

.signUpUserInputDiv-phone input{
    outline-style: none;
    border : none;
    width: 300px;
    font-size:20px;
}

.signUpUserInputDiv span{
    color: #F59A23;
}

.signUpUserInputDiv-phone span{
    color: #F59A23;
}

/* 인증 버튼 */
.searchPhoneAuthNum button{
    background-color: #F59A23;
    color:#FFFFFF;
    width: 78px;
    height: 76px;
    border: 0px;
    border-radius: 10px;
    margin-left: 15px;
    font-size:15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);

}

/* 로그인 버튼 */
.signUpUser-button{
    text-align: center;
}

.signUpUser-button button {
    color:#FFFFFF;
    font-size:25px;
    width:402px;
    height:60px;
    border-radius:50px;
    background-color:#007355;
    border:0px;
    margin:10px 0 10px 0;
}

.signUpUser-auth{
    float: right;
}