.Main {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.bannerImg{
    display: flex;
    width: 90%;
    height: 900px; 
    margin:0 auto;
}
.banner {
  
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
    width: 100%;
    height: 720px;
    margin: 0 auto;
    display: flex;
    position: relative;
}

.searchbox {
    position: absolute;
    display: flex;
    /* top:10%;
    left:30%; */
    top: 10%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    width: 600px;
    height: 40px;
    z-index: 1;
    /* margin-left: 30%;
    margin-top: 10%; */

}

#search {
    display: flex;
    border-radius: 50px;
    border: 5px solid #555;
    width: 100%;
    height: 75px;
    font-size: 20px;
    background: #FFF;
    align-self: flex-start;
    overflow: auto;


}

.searchImg {
    position: absolute;
    top: 22px;
    right: 20px;
    width: 35px;
    height: 35px;

}

.bannerbox {
    position: absolute;
    top: 26%;
    left: 10%;
    border-radius: 20px;
    opacity: 0.8;
    background-color: rgba(255, 255, 255, 0.8);
    width: 600px;
    height: 420px;
    flex-shrink: 0;
    text-align: left;
}

.top-text {
    position: relative;
    top: 20%;
    left: 10%;
    font-size: 50px;

}

.middle-text {
    position: relative;
    top: 20%;
    left: 10%;
    font-size: 35px;
    font-weight: 400;
    line-height: normal;
}

.last-text {
    position: relative;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    top: 30%;
    left: 10%;
}

.mainbar {
    text-align: center;
    font-size: 24px;
    margin: 20px 0;
}
.Main2{
    margin:0 auto;
    height: 600px;
}
.mainbar{
    display: flex;
    color: white;
    width: 100%;
    height: 136px;
    background-color: #F59A23;
}
.recommendstore{
    text-align: center;
    margin-left: 42%;
    margin-top: 4%;
}
.card-container {
    display: flex;
    overflow-x: auto;
    overflow: hidden;
   
}

.card {
    overflow: hidden;
    border: none !important;
    position: relative;
    width: 260px;
    height: 400px !important;
    background-color: white!important;
    border-radius: 10px;
    text-align: center;

}

.cardImg {
    position:absolute;
    top: 10%;
    left:20%;
    bottom: 10%;
    height: 200px;
    width: 200px;
    border-radius: 10px;
}

.cardrecommend {
    left:25%;
    bottom:15%;
    position:absolute;
    font-size: 16px;
}

.Main3 {
    border: 5px solid #007355;
    border-right: none;
    border-left: none;
    width: 100%;
    margin: 0 auto;
    display: flex;
}

.left-box {
    border-top: 5px solid #007355;
    background: #007355;
    width: 400px;
    height: 800px;
}

.main-map {
    margin-left: 50%;
    margin-top: 40%;
    background-color:white;
    border: 5px solid #007355;
    border-radius: 10px;
    width: 500px;
    height: 500px;
    position: relative;
    overflow: hidden;
}

.main-map > #mapView {
    position: absolute; /* 절대 위치로 설정하여 부모 요소인 .main-map 내에 위치시킵니다 */
    top: 0;
    left: 0;
    width: 100%; /* 부모 요소(.main-map)의 너비를 100%로 설정하여 꽉 채우도록 합니다 */
    height: 100%; /* 부모 요소(.main-map)의 높이를 100%로 설정하여 꽉 채우도록 합니다 */

}

.hubmapment1 {
    margin-top: 15%;
    margin-left: 35%;

    font-size: 40px;
    text-align: right;
    color: black;
}

.hubmapment2 {
    margin-top: 25%;
    margin-right: 10%;
    font-size: 28px;
    text-align: left;
    color: black;
}

.main-review {
    background-image: url('/public/img/coffeebean.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 805px;
    display: flex;
    opacity: 0.8;
}

.reviewment {
    margin-top: 5%;
    margin-left: 5%;
    font-size: 35px;
    text-align: left;
    color: black;
    animation: fadeInLeft 1.5s ease-out 0.5s forwards;
}

.reviewImg {

    margin-top: 7%;
    margin-right: 1%;
    width: 900px;
    height: 600px;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimizeQuality;
    filter: blur(0);
}

#reviewbutton {
    background: rgba(255, 255, 255, 0);
    margin-top: 3%;
    font-size: 20px;
    width: 200px;
    height: 50px;
    border: none;
    animation: fadeInLeft 1.5s ease-out 0.5s forwards;
}

/* fadeInLeft 애니메이션 */
@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-40px);
        /* 왼쪽으로 이동 */
    }

    to {
        opacity: 1;
        transform: translateX(0);
        /* 초기 위치로 이동 */
    }
}
/*슬릭css*/
.slick-dots {
    position: absolute;
    bottom: 20px !important;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;
    text-align: center;
}
.slick-dots li button:before {
    color: #F59A23 !important; /* 원하는 색상으로 조절하세요 */
    transform: scale(3);
}
  
  /* 활성화된(현재 슬라이드에 해당하는) Dot의 색상을 변경 */
  .slick-dots li.slick-active button:before {
    color: #F59A23; /* 활성화된 Dot의 색상을 변경하세요 */
     
}
