.mypage {
  
    display: flex;
}

.userInfoBox {
    margin: 0px auto;
    width: 844px;
    font-size: 20px;
}

.nicknameBox {
    height: 120px;
    border-radius: 10px;
    background: #F3F3F3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nicknameBox p {
    font-size: 35px;
    padding-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 0;
}

.nicknameBox img {
    margin-right: 10px;
}

.infoBox {
    width: 844px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 75px;
    padding-bottom: 10px;
    border-radius: 10px;
}

.pwBox {
    width: 844px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-radius: 10px;
}

.infoBox .infoTitle, .pwBox .pwTitle {
    height: 52px;
    border-radius: 10px 10px 0px 0px;
    background: #F59A23;
    display: flex;
    align-items: center;
    padding: 0 30px;
    justify-content: space-between;
}

.pwBox .pwTitle {
    background: #007355;
    color: #FFF;
    height: 52px;
    border-radius: 10px 10px 0px 0px;
    display: flex;
    align-items: center;
}

.resign {
    /* text-decoration: underline; */
    text-align: right;
    margin-bottom: 75px;
}

.infoContent div, .pwContent div {
    display: flex;
    margin: 30px;
    min-height: 40px;
    align-items: center;
    justify-content: space-between;
  
}

.infoContent p {
    width: 20%;

}
.pwContent p {
    width: 40%;
}

.infoContent input, .pwContent input {
    width: 50%;
    font-size: 20px;
    outline: none;
}

.inputN {border:none}
/* .infoContent input {border:none;} */

.infoContent span, .pwContent span {
    /* flex: 1; */
    width: 70%;
    text-align: right;
}

.pwText {
    padding: 10px 20px;
}

/* 모달 스타일 */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modalContent {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 1000px;
    height: 500px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
  
  .error-message {
    color: red;
    margin-top: 10px;
  }
  
  /* 추가 버튼 컨테이너 스타일 */
  .buttonContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    width: 500px;
  }
  
  /* 버튼 스타일 */
  button {
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }

  .checkPw {
    border-radius: 10px;
    background-color: #D3D3D3;
    width: 500px;
    height: 80px;
  }
  .checkPw label {
    float: left;
    margin: 10px 0 10px 20px;
    font-size: 15px;
  }

  .checkPw input {
    float: left;
    margin-left: 20px;
    margin-bottom: 10px;
    width: 460px;
    border: none;
    background-color: #D3D3D3;
    outline: none;
    font-size: 15px;
  }

  .cancelBtn {
    width: 200px;
    height: 50px;
    color: white;
    background-color: #F59A23;
    border: none;
    border-radius: 30px;
  }

  .withdrawBtn {
    width: 200px;
    height: 50px;
    color: white;
    background-color: #007355;
    border: none;
    border-radius: 30px;
  }
.infoTitle span:hover, .pwTitle span:hover, .resign:hover {
    text-decoration: underline;
    cursor: pointer;
}

.infoTitle p, .infoContent p, .pwTitle p, .pwContent p{
    margin-bottom: 0;
}
