tbody tr {
  vertical-align: middle;
}

  .reviewListBox_user4 {
    margin :2%;
    width: 1000px;
    border: 3px solid #007355;
    border-radius: 10px;
    font-family: 'NanumMyeongjo';
    display: flex;
    margin: 50px auto;
    height: 700px;
  }
.myreviewbadge{
  width: 24px;
  height: 24px;
}
.myReview-Page {
  position: absolute;
  bottom: 2px;
  transform: translateX(-50%);
  left: 50%;
}

.myreview-pagination {
  padding: 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color :#F59A23;
}
.listBox{
    margin:50px auto;
    width: 1000px;
    height: 700px;
    border: 3px solid #007355;
    border-radius: 10px;
}
.myreplybox{
  margin:0 auto;
  width: 700px;
  
}
.myreplybox tr{
  height: 100px;
  border-top:2px solid #555555;
  border-bottom:2px solid #555555;
}
  .leftBox {
    width: 550px;
    margin: 0 30px 0 30px;
    position: relative;
  }
  .reviewpage{
    /* position:relative;
    top:100px; */
    position: absolute;
    bottom: 2px;
    transform: translateX(-30%);
    left: 50%;
    
  }
  .rightBox {
    width: 350px;
    position:relative;
  }

  .myreview-listTitle {
    font-size: 30px;
    font-weight: bold;
    margin-left: 10px;
  }
  .myreplylistTitle{
    font-size: 30px;
    font-weight: bold;
    margin-left: 150px;
  }
 
  .cafeList {
    font-size: 30px;
    font-weight: bold;
  }
  
  .listImg {
    margin-left: 22px;
    vertical-align: middle;
    border-radius: 10px;
  }
  .trauth{
    height: 97px;
  }
  
  .listMiniTitle {
    font-size: 20px;
    font-weight: bold;
    vertical-align: middle;
  }
  
  .description1, .description2, .dateTime, .recCount {
    font-size: 15px;
    vertical-align: middle;
  }

  .recCount {
    text-align: end;
    margin-right: 30px;
  }
  
  .regReviewBtn {
    width: 100px;
    height: 58.6px;
    border-radius: 10px;
    background-color: #F59A23;
    color: white;
    border: none;
    margin-bottom: 5px;
    float: right;
  }

  .regReview {
    font-size: 15px;
  }

  .deadline {
    font-size: 10px;
  }

  .replyDeleteBtn {
    float: right;
    margin-right: 30px;
  }

  .myreview1-pagination {
    padding : 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color :#F59A23;
}

.myreview1-pagination div {
    margin: 0 10px;
}

.myreview2-pagination {
  padding : 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color :#F59A23;
}

.myreview2-pagination div {
  margin: 0 10px;
}

.myreply-pagination {
  padding : 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color :#F59A23;
}

.myreply-pagination div {
  margin: 0 10px;
}




.myReview-Page{
  position : absolute;
  bottom : 2px;
  transform: translateX(-50%);
  left: 50%;
}
.myReview-Button {
  border: none;
  cursor: pointer;  
  transition: background-color 0.3s ease; 
  height: 33px;
  color :black !important;
}
.myreview0 {
  text-align: center;
font-size: 20px;
margin: 50px;
}
.myReview-Button.current-page {
  color: #F59A23 !important;
}

.myReview-Button:active {
  border: none;
  background-color: none !important;
  color :#F59A23  !important;
  height: 33px;
}

.myReview-Button:disabled {
  border: none;
  color: #D9D9D9 !important;
  background: none;
  font-weight: bolder;
}
.myReview-Page{
  position : absolute;
  bottom : 2px;
  transform: translateX(-50%);
  left: 50%;
}
