.wishReview-container{
    display: flex;
}

/* 찜한 가게 블럭 */
.wishReview-list{
    border:3px solid #007355;
    width: 1000px;
    min-height: 700px;
    border-radius: 10px;
    margin:50px auto;
    padding:20px 40px 10px 40px;
}

.wishReview-title{
    font-size:30px;
    margin: 15px;
    font-weight: bold;
}

.wishReview-title img{
    margin-bottom: 5px;
}

/* 찜한 가게 이미지 */
.wishReview-reviews {
    position: relative;
    display: inline-block;
}

.wishReview-reviews img{
    width: 250px;
    height: 240px;
    border-radius: 10px;
    margin:10px 25px 10px 25px;
}

/* 이미지 효과 */
.wishReview-reviews .image-text {
    display: none;
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -51%);
    width: 250px;
    height: 240px;
    border-radius: 10px;
}

.wishReview-reviews:hover .image-text {
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0.3);
    margin:0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size:30px;
    border:2px solid #000000;
}

/* 모달 */
.modalBox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }

  .reviewModalContent {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-height: 90%;
    overflow-y: scroll;
    /* border: 3px solid #007355; */
  }
  
  .closeBtn {
    position: absolute;
    top: 20px;
    right: 30px;
    cursor: pointer;
    z-index: 999;
  }

  .arrow {
    position: absolute;
    top: 300px;
    right: 30px;
    cursor: pointer;
    z-index: 999;
  }

  .wishreview-pagination {
    padding : 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color :#F59A23;
  }
  
  .wishreview-pagination div {
    margin: 0 10px;
  }
  
  .ReviewWriter {
    font-size: 20px;
  }
  
  .wishPagination {
    background-color: #007355;
    width: 100%;
  }

  .pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }

  .noWish {
    text-align: center;
    font-size: 20px;
    margin: 50px;
  }

  .reviewModalContent::-webkit-scrollbar, .modalCafe::-webkit-scrollbar, .map_box::-webkit-scrollbar{
    display: none;
  }