.wishStore-container{
    display: flex;
}

/* 찜한 가게 블럭 */
.wishStore-list{
    border:3px solid #007355;
    width: 1000px;
    border-radius: 10px;
    margin:50px auto;
    padding:20px 40px 10px 40px;
}

.wishStore-title{
    font-size:30px;
    margin: 15px;
    font-weight: bold;
}

.wishStore-title img{
    margin-bottom: 5px;
}


/* 찜한 가게 이미지 */
.wishStore-stores {
    position: relative;
    display: inline-block;
}

.wishStore-stores img{
    width: 250px;
    height: 200px;
    border-radius: 10px;
    margin:10px 25px 10px 25px;
}

/* 이미지 효과 */
.wishStore-stores .image-text {
    display: none;
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -51%);
    width: 250px;
    height: 200px;
    border-radius: 10px;
}

.wishStore-stores:hover .image-text {
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0.3);
    margin:0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size:30px;
    border:2px solid #000000;
}

.modalMap {
    width: 100%;
    margin: 0 auto;
    display: flex;
}

#mapView2 {
    flex: 1;
    width: 100%;
    height: 100%;
}

.cafeModalContent {
    display: flex;
    background-color: white;
    width: 80%;
    height: 90%;
}

.modalCafe {
    border-left: 3px solid #007355;
    flex: 1;
    height: 100%;
    overflow-y: scroll;

}

.modalstorebox {
    display: flex;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

.modalstorebox > img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}