/* 전체 박스 */
.searchId-container {
    margin: 0 auto;
    width: 100%;
}

.searchId-bg {
    display: flex;
    align-items: center; /* 수직 중앙 정렬 */
    width: 80%;
    min-width: 450px;
    height: 700px;
    border-radius: 20px;
    margin: 50px auto;
    background:url(/public/img/SearchIdImage.png);
    background-size: cover;
}

.searchId-section{
    width: 440px;
    height: 550px;
    background-color: #F3F3F3;
    border-radius: 20px;
    margin: 0 auto;
}


.searchId-title{
    margin: 50px 10px 30px 10px;
    text-align:center;
    font-size:35px;
}

/* 이름/휴대폰번호 박스 */
.searchIdInputDiv {
    padding:5px;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    background:#FFFFFF;
    width: 410px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* 이름/휴대폰번호 입력창 */
.searchIdInputDiv input{
    border: 0px;
    width: 300px;;
    font-size:20px;
}

.searchId-button{
    text-align: center;
}

.searchId-button button {
    color:#FFFFFF;
    font-size:20px;
    width:350px;
    height:50px;
    border-radius:50px;
    background-color:#007355;
    border:0px;
    margin: 60px 0 10px 0;
}

.searchId-button button span {
    display: inline-block;
    vertical-align: super;
}


/* 아이디 조회 결과 텍스트*/
.searchIdResult-text{
    text-align: center;
    width: 400px;
    height: fit-content;
    margin: 0 20px;
    font-size:25px;
}

.searchId-AuthPhone{
    color: #F59A23;
    float: right;
}
