.review-bgBox {
    background: url(/public/img/reviewBg.png), lightgray 50%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0;
}

.reviewBox {
    margin: 0 auto;
    width: 1000px;
    border-radius: 20px;
    background: #FFF;
}



.reviewTitle {
    padding-top: 30px;
    margin: 0 auto;
    width: 90%;
    display: flex;
    align-items: center;
}
.thumbnail-preview {
    width: 100px;
    height: 100px;
}
.title{
    margin-left: 20px;
 border: none;
 font-size: 20px;
}

.reviewTitle select {
    border: 2px solid #007355;
    background: rgba(217, 217, 217, 0.46);
    width: 200px;
    height: 40px;
    font-size: 20px;
    text-align: center;
}

.reviewTitle p {
    flex: 0.8;
    font-size: 40px;
    text-align: center;
    margin: 20px 0;
    font-weight: 600;
}

.line { /* 구분선 */
    width: 98%;
    height: 2px;
    background: #007355;
}

.thumbnail {
    margin: 30px auto;
    font-size: 20px;
    width: 90%;
    display: flex;
    align-items: center;
}

input[type="file"]{
    display: none;
}

.review-img{
    background-color: #D9D9D9;
    border-radius: 10px;
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.review-thum{
    margin-top : 20px
}

.review-img span{
    margin-left: 10px;
}

/* 선택된 파일 이름의 스타일 */
.selected-file {
    margin-top: 20px;
    color: #333;
    margin-left: 10px;
}

.editor {
    margin: 0 auto;
    width: 90%;
    height: 605px;
    border-radius: 10px;
    border: 3px solid #007355;
}

.tagBox {
    margin: 60px auto;
    width: 85%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px; 
    font-size: 18px;
    text-align: center;
    cursor: pointer;
}

.tag {
    border-radius: 10px;
    border: 2px solid #F59A23;
    padding: 5px 3px ;
}

.selectTag, .tag:hover {
    border-radius: 10px;
    border: 2px solid #F59A23;
    background: #F59A23;
    padding: 5px 3px ;
    color: #FFF;
}

.btnBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
    cursor: pointer;
}

.btn {
    margin: 0 20px 50px 20px;
    background: #007355;
    color: #FFF;
    width: 220px;
    height: 50px;
    border-radius: 30px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}