.Map {
  width: 100%;
  margin: 0 auto;
}
#mapView {
  width: 100%;
  height: 800px;
}
.map_box {
  flex: 1;
  border-radius: 0 10px 10px 0;
  border: 3px solid #007355;
  width: 600px;
  height: 800px;
  overflow-y: scroll;
}

.x {
  margin-top: 2%;
  width: 30px;
  height: 30px;
  margin-left: 93%;
}

.storebox {
  display: flex;
  font-size: 30px;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.storebox > img {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}

.storeImg {
  margin: 30px auto;
  border: 3px solid #007355;
  border-radius: 10px;
  width: 250px;
  height: auto;
  overflow: hidden;
}

.storeImg img {
  width: 100%;
  height: 100%;
}

.storeLine {
  margin: 20px auto;
  width: 400px;
  height: 3px;
  background-color: #007355;
}

.store_content {
  display: flex;
  flex-direction: column;
  margin-left: 25%;
  margin-top: 30px;
}

.store_content .infoContentBox {
  display: flex;
  align-items: center;
  justify-content: left;
}

.store_content img {
  display: flex;
  flex-direction: column;
  margin: 5px 20px 0 0;
  padding: 5px 0;
}

.store_content .infoName {
  font-size: 20px;
}

.store_review {
    margin: 10%;
}

.store_review .review img {
    width: 40px;
    height: 40px;
    margin-right: 20px;
}

.store_review .review {
    font-size: 25px;
}

  .map-list {
    display: flex;
    align-items: center;    
    height: 90px;
    width: 490px;
  }

  .map-listImg {
    border-radius: 10px;
    width: 70px;
    height: 70px;
  }
  
  .map-listTitle {
    margin-top: 2%;
    font-size: 17px;
    font-weight: bold;
    flex: 1;
  }

.map-writeInfo {
  align-items: center;
  font-size: 15px; 
  margin-top: 5%;
}

.map-dateTime {
  margin-top: 6%;
  margin-right: 10px;
  width: 25%;
  text-align: right;
  font-size: 15px;
}

.noReviewList {
    text-align: center;
    font-size: 20px;
    margin-top: 50px;
}