.manager-container{
  display: flex;
}

tbody tr {
  vertical-align: middle;
}

.manager-listBox {
    margin:50px auto;
    width: 1000px;
    height: 700px;
    border: 3px solid #007355;
    border-radius: 10px;
  }

  .manager-listBox table{
    width: 750px;
    margin: 0 auto;
  }

  .listTitle {
    font-size: 30px;
    font-weight: bold;
    margin-left: 30px;
  }

  .listImg {
    margin-left: 22px;
    vertical-align: middle;
    border-radius: 10px;
  }
  
  .listMiniTitle {
    font-size: 20px;
    font-weight: bold;
    vertical-align: middle;
  }
  
  .description1, .description2, .manager-dateTime {
    font-size: 15px;
    vertical-align: middle;
  }

  .manager-dateTime{
    margin-left: 50px;
  }
  
  .permission {
    font-size: 20px;
    width: 115px;
    height: 50px;
    border-radius: 30px;
    background-color: #F59A23;
    color: white;
    border: none;
    margin-bottom: 5px;
    margin-left: 50px;
  }

  .unpermission {
    font-size: 20px;
    width: 115px;
    height: 50px;
    border-radius: 30px;
    background-color: #D9D9D9;
    border: none;
    margin-bottom: 5px;
    margin-left: 50px;

  }

  .permission-button{
    width: 200px;
  }

  .manager-pagination {
    padding: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color :#F59A23;
}

.manager-pagination div {
    margin: 0 10px;
}

  