.manager-container{
  display: flex;
}

tbody tr {
  vertical-align: middle;
}

.manager-listBox {
    margin:50px auto;
    width: 1000px;
    border: 3px solid #007355;
    border-radius: 10px;
    position : relative;
  }

  .manager-listBox table{
    width: 750px;
    margin: 0 auto;
  }

  .listTitle {
    font-size: 30px;
    font-weight: bold;
    margin-left: 30px;
  }

  .listImg {
    margin-left: 22px;
    vertical-align: middle;
    border-radius: 10px;
  }
  
  .listMiniTitle {
    font-size: 20px;
    font-weight: bold;
    vertical-align: middle;
  }
  
  .description1, .description2, .manager-dateTime {
    font-size: 15px;
    vertical-align: middle;
  }

  .manager-dateTime{
    margin-left: 50px;
  }
  
  .permission {
    font-size: 20px;
    width: 115px;
    height: 50px;
    border-radius: 30px;
    background-color: #F59A23;
    color: white;
    border: none;
    margin-bottom: 5px;
    margin-left: 50px;
  }

  .unpermission {
    font-size: 20px;
    width: 115px;
    height: 50px;
    border-radius: 30px;
    background-color: #D9D9D9;
    border: none;
    margin-bottom: 5px;
    margin-left: 50px;
    button: disabled;
  }

  .permission-button{
    width: 200px;
  }

  .manager-pagination {
    padding: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color :#F59A23;
}

.manager-pagination div {
    margin: 0 10px;
    font-weight: bo
}

.managerPoint-Button {
  margin: 10px;
  border: none;
  color: #F59A23;
  background: none;
  font-weight: bolder;
  cursor: pointer;    /* 커서를 포인터로 변경하여 클릭 가능함을 나타냄 */
  transition: background-color 0.3s ease;  /* hover 효과를 부드럽게 만듦 */
}

.managerPoint-Button:hover {
  color :#007355;
  background: none;
}

.managerPoint-Button:active {
  margin: 10px;
  border: none;
  color: #007355 !important;
  background: none !important;
  background-color: none !important;
}

.managerPoint-Button:disabled {
  margin: 10px;
  border: none;
  color: #D9D9D9;
  background: none;
  font-weight: bolder;
}

.managerPoint-Page{
  position : absolute;
  bottom : 10px;
  transform: translateX(-50%);
  left: 50%;

}
  
.manager-container .manager-listBox .listTitle th {
  width: 100px;
}