.storeBanner-container {
    display: flex;
}

.storeBanner-wrapper {
    margin-top: 100px;
    margin-bottom: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.storeBanner-preview {
    position: relative;
    width: 1000px;
    max-width: 100%;
    height: 600px;
    border-radius: 10px;
    border: 3px solid;
    border-color: #555555;
    background-color: white;
    display: flex;
    flex-direction: row-reverse; /* 요소들을 역순으로 배치 */
}

.storeBanner-img {
    width: 100%;
    height: 594px;
    border-radius: 10px;
}

.preview-text {
    font-size: 20px;
    margin: 20px;
}

.storeBanner-info {
    position: absolute;
    top: 180px;
    left: 100px;
    width: 450px;
    height: 350px;
    background-color: rgb(255, 255, 255, 0.6);
    color: black;
    border-radius: 20px;
    display: flex;
    z-index: 1;
    flex-direction: column;
    padding: 30px;
}

.storeBanner-title {
    margin-top: 30px;
    font-size: 40px;
    font-weight: bold;
}

.storeBanner-description {
    font-size: 25px;
}

.storeBanner-input-description-wrap,
.storeBanner-input-menu-wrap {
    display: flex;
    align-items: center;
}

.storeBanner-input-description-box,
.storeBanner-input-menu-box {
    display: flex;
    align-items: center;justify-content: flex-end; /* 가로 방향으로 끝에 정렬 */

}

.storeBanner-input-description-title,
.storeBanner-input-menu-title {
    margin: 20px 20px 20px 0;
}

.storeBanner-input-description,
.storeBanner-input-menu {
    margin-right: 20px;
    width: 680px;
    border: none;
    outline: none;
}

.hl {
    border-top: 3px solid;
    border-color: #555555;
    width: 800px;
}

.storeBanner-cancelBtn,
.storeBanner-regBtn {
    border: none;
    border-radius: 30px;
    color: white;
    width: 150px;
    height: 50px;
    font-size: 20px;
}

.storeBanner-cancelBtn {
    background-color: #F59A23;
}

.storeBanner-regBtn {
    background-color: #007355;
}
