.sideBox {
    background: #D9D9D9;
    width: 200px;
    flex: 0 0 200px;    /*늘어나고 줄어드는 거 막기*/
    /* height: 920px; */
    /* float: left; */
}

.tab {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border-bottom: 1px solid #888888b0;
}

.selectTab, .tab:hover {
    background-color: #007355;
    color: #FFF;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}